.doctor-gradient{
background: var(--DoctorGradient, linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.button-gradient{
    background: linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);


}