@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Sora&display=swap');

body{
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-style: normal;
}
.doctor-gradient{
background: var(--DoctorGradient, linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.button-gradient{
    background: linear-gradient(96deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);


}